.body {
    display: flex;
    flex-direction: row;
}
textarea {
    resize: none;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea el contenido verticalmente en el centro */
    text-align: center;
    flex-direction: row-reverse;
  }
  
  .datos {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido horizontalmente en el centro */
    width: 100%; /* Ancho máximo para el campo de datos */
    margin: 0 auto; /* Centra el formulario de datos en el contenedor */
  }
  
  label, input, select, textarea {
    margin-bottom: 10px; /* Agrega espacio entre los elementos */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
  }
  
  input[type="submit"] {
    width: auto; /* Ajusta el ancho del botón al contenido */
    margin-top: 10px; /* Agrega espacio arriba del botón */
  }
  .gosde {
    border: 0.1rem solid grey;
    margin-right: 1rem;
  }